@if (loading$ | async) {
  <app-spinner></app-spinner>
}
<mat-toolbar>
  <span class="toolbar-spacer"></span>
  <button
    mat-mini-fab
    [ngClass]="{ active: btnActive === 1 }"
    (click)="toggleButton(1)">
    <mat-icon>list</mat-icon>
  </button>
  <button
    mat-mini-fab
    [ngClass]="{ active: btnActive === 2 }"
    (click)="toggleButton(2)">
    <mat-icon>grid_view</mat-icon>
  </button>
</mat-toolbar>
<div layout="column" class="container">
  @if (btnActive === 1) {
    <app-table [images]="images"></app-table>
  } @else {
    <app-grid [images]="images"></app-grid>
  }
</div>
