@if (image) {
  <div>
    <mat-toolbar color="primary">
      <span>Id: {{ image.id }}</span>
      <span class="toolbar-spacer"></span>
      <a mat-flat-button [routerLink]="['/']">Back</a>
    </mat-toolbar>
    <p><strong>Author:</strong> {{ image.author }}</p>
    <img
      style="width: 80%; height: 80%"
      class="rounded"
      src="{{ image.download_url }}"
      alt="" />
    @if (isDetailsVisible) {
      <div class="details">
        <button mat-flat-button (click)="this.isDetailsVisible = false">
          Hide details
        </button>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Image Size </mat-panel-title>
              <mat-panel-description> Check image size </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{ image.width }} x {{ image.height }}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Image url </mat-panel-title>
              <mat-panel-description> Check image url </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{ image.url }}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    } @else {
      <div class="details">
        <button mat-flat-button (click)="this.isDetailsVisible = true">
          Show details
        </button>
      </div>
    }
  </div>
}
